html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}
.container {    
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: 100vh; 
    max-width: 900px; 
    margin: 0 auto;
}
.nav {
    padding:10px;
    text-align: center;
    font-size: 18px;
}
hr {
    width:200px;
    color:black;
}